<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img src="/img/image.jpg" class="portrait">
    </div>
    {{>footer}}
  </body>
</html>
