<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>
  <body>
    {{>header}}

    <p>{{ helpText }}</p>
    {{>footer}}
  </body>
</html>
